.dishes-container {
  padding: 2rem;
}

.heading-select {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.dishrankview {
  border: solid;
  border-width: thin;
  border-color: antiquewhite;
  height: max-content;
  background-color: ghostwhite;
}

.result-page-redirect {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}
